@tailwind base;
@tailwind components;
@tailwind utilities;

 * body { 
  background-color:rgb(7, 14, 17);   
  color: rgb(247, 250, 250);
  
 } 
 
.homeContainer {
  
  float:right;
  display: flex;
align-items: center;
padding-top: 60px;
  
}
.childContainer {

  margin-left: 80px;
  font-size: 45px; 
  font-style: normal;
  padding-top: 80px;
}

 .color {
  color: gold;
 }
 img {
  height: auto;
  width: 450px;
  border-radius: 50%;
  margin-right: 90px;

 }

